ENVIRONMENT=production
DB_HOST=db
DB_PORT=5432
DB_NAME=friendos
DB_USER=friendos
DB_PASSWORD=change-me
SECRET_KEY=change-me
CORS_ORIGINS=["https://friends.servrar.net"]
OIDC_ISSUER=https://id.fmmd.me
ALLOWED_EMAIL=justin@badal.me
API_KEY=change-me
